/* Font & Size System:
4 x0.25
8 x0.5
12 x0.75
16 x1
24 x1.5
32 x2
48 x3
64 x4
96 x6
128 x8
192 x12
256 x16
384 x24
512 x32
640 x40
768 x48
*/

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;

  text-align: center;
  font-size: 16px;
  /* color: whitesmoke; */

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: whitesmoke; */
}

#root {
  /* background-image: url('./bg1.png'); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.814) 2.5%,
      rgba(0, 128, 128, 0.361) 100%
    ),
    url("./bg1.png");

  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0), 
    teal); */
  position: absolute;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

/* --------------- */

section {
  padding: 0;
  margin: 0;
  transform: translate(5%, 0%);
  overflow: hidden;
  height: 100vh;
  max-width: 90vw;
  max-height: 90vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  scroll-snap-align: center;

  box-sizing: border-box;
  /* border: 2px solid black; */
  border-radius: 32px;
  color: whitesmoke;
}

#first_pg {
  /* background-color: rgb(255, 127, 80, 0.85); */
  /* background-color: rgba(240, 255, 255, 0.25); */

  /* black hole sun */
  /* background-image: radial-gradient(
    rgb(0, 0, 0) 2.5%,
    rgba(0, 0, 0, 0.101) 60%,
    rgba(0, 0, 0, 0.023)
  );
  border-radius: 480px; */

  font-size: 38px;
}

#second_pg {
  background-color: rgb(240, 255, 255, 0.7);
}

img {
  width: 30%;
  border-radius: 128px;
}

#third_pg {
  background-color: rgb(0, 128, 128, 0.7);
}

#fourth_pg {
  background-color: rgb(255, 192, 203, 0.7);
}

/* ------ */

.smooth_scroll_main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 300;
  padding: 16px;
  width: 75%;
}

a {
  text-decoration: none;
  /* color: black; */
  color: whitesmoke;
  font-size: 24px;
}

#about,
#projects,
#contact {
  font-size: 24px;
  gap: 16px;

  @media screen and (max-width: 760px) {
    font-size: 16px;
  }
}
